<ion-view view-title="Bebidas">
  <ion-content class="padding">
  
  <div class="list card">
      <div class="item item-body">
        <div>
         Refresco <b>$10 </b><br>
          Agua embotellada <b>$10 </b><br>
          Limonada <b>$20 </b><br>
          Jugo de naranja <b>$15 </b><br>
          Cerveza <b>$15 </b><br>
          
        </div>
      </div>
    </div>
  
    <div class="list card">
      <div class="item item-divider">Cafés</div>
      <div class="item item-body">
        <div>
          Expresso <b>$15 </b><br>
          Americano <b>$15 </b><br>
          Cappuccino <b>$18 </b><br>
          
        </div>
      </div>
    </div>
    
    
    <div class="list card">
      <div class="item item-divider">Cócteles</div>
      <div class="item item-body">
        <div>
          <b>Michelada</b> (Cerveza, limon, salsas)<b>$40 </b><br>
          <b>Margarita</b> (Tequila, Triple sec, lima)<b>$45 </b><br>
          <b>Piña colada</b> (Crema de coco, ron y piña)<b>$40 </b><br>
          <b>Tequila sunrise</b> (Tequila, granadina, limon, jugo de naranja)<b>$40 </b><br>
          <b>Cosmopolitan</b> (Vodka, arandanos, jgo de limon)<b>$45 </b><br>
          <b>Daiquiri</b> (Ron, almibar, jgo de limon)<b>$45 </b><br>
          
          
          
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
