<ion-view view-title="Postres">
  <ion-content class="padding">
  
    <div class="list card">
      <div class="item item-body">
        <div>
          <b>Helados</b> (Vainilla, chocolate, fresa)<b>$10 </b><br>
          <b>Pastel de chocolate</b> (Con helado)<b>$20 </b><br>
          <b>Pastel de 3 leches</b> (Con helado)<b>$25 </b><br>
          <b>Brownie</b> (Con helado)<b>$20 </b><br>
          Chocoflan <b>$20 </b><br>
          Cheese cake <b>$20 </b><br>
          Banana split <b>$15 </b><br>
          Pay de queso <b>$18 </b><br>
          Pay de piña <b>$18 </b><br>
        </div>
      </div>
    </div>
    
   
  </ion-content>
</ion-view>
