<ion-view view-title="Desayunos">
  <ion-content class="padding">
  
    <div class="list card">
      <div class="item item-divider"><b>Huevos al gusto<br>(Acompañados de Frijoles, Arroz y Tortillas)</b></div>
      <div class="item item-body">
          Estrellados <b>$30 </b><br>
          A la mexicana <b>$35 </b><br>
          Rancheros <b>$35 </b><br>
          Con jamon <b>$30 </b><br>
          Con tocino <b>$30 </b><br>
          
        </div>
      </div>
   
    <div class="list card">
       <div class="item item-body">
        <div>
          <b>Club sandwich</b> (sandwich tostado de jamon con queso, con ensalada y papas fritas) <b>$40 </b><br>
          <b>Chilaquiles</b> (con salsa verde, crema, queso, frijoles y arroz) <b>$40 </b><br>
          <b>Entomatadas</b> (con crema, queso, frijoles y ensalada) <b>$40 </b><br>
          <b>Molletes</b> (Pan tipo bolillo con frijoles, queso fundido y pico de gallo)<b>$30 </b><br>
          <b>Flautas</b> (con queso, crema, ensalada y papas fritas) <b>$30 </b><br>
          <b>Quesadillas</b> (con frijoles y arroz) <b>$25 </b><br>
          <b>Hot cakes</b> (Acompañados de tocino y huevos revueltos)<b>$30 </b><br>
          
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
